@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700;900&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url(./videos/pexels-carlos-eduardo-de-meneses-11557947\ \(2160p\).mp4);
    background-size: cover;
}

.header-main {
    width: 68%;
    display: flex;
    background-color: rgba(255, 255, 255, .1);
    padding: 19px;
    border-radius: 23px;
    border-style: none;
    align-self: center;
    justify-content: center;
    margin-top: 25px;
    margin-left: 220px;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 100;
    backdrop-filter: blur(3px);
}


.header-main-logo {
    height: 100%;

}

.header-main-logo img {
    height: 70px;
    margin-bottom: 10px;
}

.header-main-nav {
    width: 1400px;
    padding: 10px;
    margin-left: 100px;






}

.header-main-nav ul {
    width: 700px;
    margin-top: 8px;

}

.header-main-nav li {
    list-style: none;
    display: inline-block;
    margin-left: 22px;

}

.header-main-nav li a {
    color: rgb(26, 25, 25);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 450;

}

a {
    text-decoration: none;
    color: black;
    font-family: BlinkMacSystemFont;
}

h1,
p {
    font-family: BlinkMacSystemFont;
}

.hero-text {
    padding: 70px;
    width: 100%;
    height: 88vh;
    background-color: rgba(0, 0, 0, 0.001);
}

.hero-text-title {
    margin-top: 10px;
    font-size: 80px;
    width: 1000px;
    color: rgb(85, 76, 76);
    background-image: linear-gradient(to right, #ffffff, #979494);
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;






}

.hero-text-para {
    margin-top: 10px;
    width: 600px;
    font-weight: 200;
    color: white;
    font-weight: 200;
    font-family: 'Roboto', sans-serif;




}

.hero-text-button {
    border: 1px solid rgb(54, 52, 52);
    border-radius: 5px;
    padding: 8px;
    font-family: 'Roboto', sans-serif;
    width: 112px;
    text-align: center;
    margin-top: 30px;
    margin-left: 4px;
    color: black;
    font-weight: 400;
    background-image: linear-gradient(to right, #e0a536, #d8d144);


}

.hero-background-video {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}



.hero-main-nav-contact {
    border: 1px solid black;
    padding: 10px;
    border-radius: 4px;
}


.header-main-logo {}


.slider {
    height: 400px;
    width: 100%;
    margin-bottom: 25px;
    position: relative;
    top: -25px;
    text-align: center;
    font-family: Roboto, sans-serif;
    font-size: 24px;
    display: flex;
    overflow: hidden;
    text-align: center;
}

.slider-images {
    display: flex;
    align-items: center;
    animation: slideshow 20s linear infinite;
}

.slider-images img {
    margin-top: 40px;
    width: 280px;
    height: 200px;
    margin-left: 20px;
}



@keyframes slideshow {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

.slider-title {
    text-align: center;
    display: flex;
    align-items: center;
    display: flex;
    justify-content: center;
    font-family: Roboto, sans-serif;
    font-size: 35px;


}

.slider-title-grn {
    font-weight: 700;
}

.about {
    width: 100vw;
    height: 500px;
}

.marine-video {
    display: grid;
    justify-items: center;
    align-self: center;
    display: flex;
    justify-content: space-between;
    padding: 90px;
}


.marine-video iframe {
    height: 400px;
    width: 400px;
    border-radius: 20px;
    border-style: none;

}


.about-text {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    color: black;
    padding: 40px;
}


.about-text-cp {
    font-weight: 700;
}


.about {
    height: 660px;
    width: 100%;
    background-color: white;
}


.header-main-nav li a:hover {
    color: orange;
    font-weight: 700;
    opacity: 0.7;
    transition: opacity 2s;
}


body {}

.wrapper {
    width: 100%;
    height: 700px;
    background-color: black;
}

.circle {
    width: 400px;
    height: 400px;
    overflow: hidden;
    border-radius: 50%;
    position: relative;
    top: 100px;
    left: 200px;
    transform: rotateZ(23.5deg);
    z-index: 1;
}

.earth {
    position: absolute;
    animation: animate 150s linear normal;
    width: 10000px;
    height: 1000px;
    background-repeat: repeat-x;
}

.content {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: -20px -20px 40px 10px black inset;
}

.continents {
    animation: animate-2 43s linear 3.5;
    width: 1000px;
}

@keyframes animate {
    from {
        transform: translateX(0px);
    }

    to {
        transform: translateX(-3500px);
    }
}

@keyframes animate-2 {
    from {
        transform: translateX(0px);
    }

    to {
        transform: translateX(-1000px);
    }
}

.continent {
    position: absolute;
    transform: rotateZ(-23.5deg);
}

.one {
    top: 100px;
    left: 140px;
}

.two {
    top: 260px;
    left: 264px;
}

.three {
    top: 80px;
    left: 490px;
}

.four {
    top: 200px;
    left: 510px;
}

.five {
    top: 100px;
    left: 680px;
}

.six {
    top: 290px;
    left: 810px;
}

.continent a {
    color: white;
    text-decoration: none;
}

.about_globe {
    width: 600px;
    height: 800px;
    position: absolute;
    top: 50px;
    left: 800px;
    color: white;
    display: none;
}

.about_globe img {
    width: 100%;
    height: 300px;
}